---
import AboutMe from '../components/AboutMe.astro';
import Animation from '../components/Animation.astro';
import Layout from '../layouts/Layout.astro';





---

<Layout title="About me .">
	<main class="w-full p-10 flex flex-col justify-center items-center px-10  lg:px-40">
		<Animation/>
		<AboutMe/>
	</main>
</Layout>

