---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to my profile.">
	<header class="flex justify-center items-center px-10"></header>
	<main>
		<h1>Hey ! I'm <span class="text-gradient font-extrabold text-5xl">Moncef</span></h1>
	</main>
</Layout>

