---
import Animation from '../components/Animation.astro';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to my profile.">
	<main class="w-full p-10 flex flex-col justify-center items-center">
		<Animation/>
		<Hero/>
	</main>
</Layout>



