---
import Animation from "./Animation.astro";

---




<section class="w-full group select-none mt-10  flex justify-center items-center gap-5 flex-wrap  bg-pr1/30 rounded-lg  p-10 backdrop-blur-md shadow-lg shadow-pr2/30 hover:shadow-sm duration-500 transition-all">
	 As a skilled developer, I'm passionate about crafting exceptional web applications that engage and excite users. Here you'll find examples of my work, my technical skills, and my unique approach to web development. So take a look around and let's create something amazing together!
	 <Animation/>
</section>