










<div class="blur top-80 w-full flex justify-center items-center fixed -z-10">
    <div class="main absolute blur-3xl rounded-full bg-sky-500/50 w-96 h-96 ">
</div>
<div class="absolute blur-3xl rounded-full bg-cyan-500/20 w-28 h-28 animate-fluid">
</div>
<div class="absolute blur-3xl rounded-full bg-blue-500/20 w-40 h-10 animate-spiral">
</div>
<div class="absolute blur-3xl rounded-full bg-cyan-500/20 w-60 h-10 animate-fluid">
</div>
<div class="absolute blur-3xl rounded-full bg-sky-500/20 w-80 h-80 animate-spiral">
</div>

</div>




<style>

.main {
  animation: scaling 2s ease-in-out infinite;
  transform-origin: center;
  transform: scale(1);
}

@keyframes scaling {
  0% {
    transform: scale(1.2);
  }
  20% {
    transform: scale(1.4);
  }
  40% {
    transform: scale(1.6);
  }
  60% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1.2);
  }
}


.animate-fluid {
  animation: fluid 50s cubic-bezier(0.1, 1.5, 0.42, 1) infinite;
}


.animate-spiral {
  animation: spiral 40s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite;
}

@keyframes spiral {
  0% {
    transform: translateX(0) translateY(0) rotate(0deg) scale(1);
  }
  20% {
    transform: translateX(100%) translateY(-75%) rotate(180deg) scale(1.5);
  }
  40% {
    transform: translateX(0) translateY(0) rotate(360deg) scale(1);
  }
  60% {
    transform: translateX(-100%) translateY(-75%) rotate(540deg) scale(1.5);
  }
  80% {
    transform: translateX(50%) translateY(-25%) rotate(720deg) scale(1);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(900deg) scale(1);
  }
}

@keyframes fluid {
  0% {
    transform: translateX(0) translateY(0) rotate(0deg) scale(1);

      background: rgba(14, 178, 233, 0.352);;


}
  15% {
    transform: translateX(50%) translateY(-25%) rotate(180deg) scale(1.5);
    background: 
  }
  30% {
    transform: translateX(0) translateY(0) rotate(360deg) scale(1);
    background: rgba(14, 58, 233, 0.308);
 
}
  45% {
    transform: translateX(-50%) translateY(-25%) rotate(540deg) scale(1.5);
}
  60% {
    transform: translateX(0) translateY(0) rotate(720deg) scale(1);
  }
  75% {
    transform: translateX(50%) translateY(-25%) rotate(900deg) scale(1.5);
  }
    100% {
    transform: translateX(0) translateY(0) rotate(0deg) scale(1);
  background: rgba(10, 140, 240, 0.338);;

}
}



</style>