---



---
<style is:global>

.text-animation {    
    background: linear-gradient(
        #149cca,
        #09f3d0 10px,
        transparent 10px,
        transparent 10px
        );
            color: transparent;

  background-size: 150% 9px;
  height: fit-content;
  animation: pan-overlay 60s infinite linear;
  z-index: -5;
  background-clip: text;
  
}

.screen-overlay {    
  background: linear-gradient(
    #149cca3a,
    #09f3d02d 1px,
    transparent 1px,
    transparent 1px
  );
  background-size: 50% 9px;
  height: 100%;
  width: 100%;
  animation: pan-overlay 60s infinite linear;
  position: absolute;
  z-index: -5;
  left: 0px;
  top: 0px;
}



@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }
  
  to {
    background-position: 0% -100%;
  }
}
@keyframes pan-image {  
  0% {
    background-position: 50% 20%;
    background-size: 200%;
  }
  
  20% {
    background-position: 30% 35%;
    background-size: 200%;
  }
  
  20.0001% { /* -- View 2 -- */
    background-position: 60% 85%;
    background-size: 500%;
  }
  
  40% {
    background-position: 49% 81%;
    background-size: 500%;
  }
  
  40.0001% { /* -- View 3 -- */
    background-position: 80% 42%;
    background-size: 300%;
  }
  
  60% {
    background-position: 84% 33%;
    background-size: 300%;
  }
  
  60.0001% { /* -- View 4 -- */
    background-position: 0% 0%;
    background-size: 300%;
  }
  
  80% {
    background-position: 15% 4%;
    background-size: 300%;
  }
  
  80.0001% { /* -- View 5 -- */
    background-position: 80% 10%;
    background-size: 300%;
  }
  
  100% {
    background-position: 72% 14%;
    background-size: 300%;
  }
}

</style>

  
  <div class="screen-overlay"></div>  




  



