---

---




              <footer id="contact" class="bg-pr1/10 dark:bg-pr4/30 h-60 flex flex-col items-center justify-center gap-2">
                <h1 class="text-2xl">Contact me on</h1>
                <h2>epiccoder001@gmail.com</h2>
                <h3>or</h3>
<nav class="flex justify-center items-center gap-5">
<a target="_blank"  href="https://github.com/modecode22" title="github" class="w-8 h-8 bg-white rounded-full flex justify-center items-center group">
    <img src="/github.svg" class="w-6 h-6" alt="">
</a>
<a target="_blank"  href="https://www.facebook.com/profile.php?id=100090251763624" title="facebook" class="w-8 h-8 flex justify-center items-center">
    <img src="/Facebook.svg" class="w-8 h-8" alt="">
</a>

<a target="_blank"  href="https://twitter.com/epiccoder1" title="twitter" class="w-8 h-8 flex justify-center items-center">
    <img src="/Twitter.svg" class="w-8 h-8" alt="">
</a>







</nav>
<h3 class="font-thin  text-animation">Call me Sundays, busy learning & working weekdays :)</h3>
            </footer>            