---
import Me from "./Me.astro";
import MeAnimation from "./MeAnimation.astro";

---



<div class="relative gap-5 grid grid-cols-2 w-full   rounded-lg  p-5">
   	    <main class="bg-pr1/30 relative w-full aspect-square rounded-full  ">	
<Me />
     		<MeAnimation/>

	</main> 		
	<main>	
<h1 class="text-animation drop-shadow-md text-3xl sm:text-4xl md:text-8xl ">
  Hey there!
</h1>
<h1 class="text-animation drop-shadow-md  text-4xl sm:text-4xl md:text-8xl " >
  I'm Moncef
</h1>

<p class="text-animation drop-shadow-md text-sm sm:text-xl md:text-2xl ">
  Welcome to my portfolio , the place where React and Next.js meet creativity and innovation.</p>	
	</main> 		

</div>
<style>





</style>