---

---






<header class="cursor-default select-none w-full flex justify-center items-center flex-col">
	<header class="relative w-full p-10 flex flex-col justify-center items-center h-40">
		<h1 class="top-[0.1rem]   text-cyan-100 absolute  text-2xl font-bold">Hey ! I'm </h1>
        <h1 class="top-[0.15rem]  text-cyan-600 absolute  text-2xl font-bold">Hey ! I'm </h1>	
        <h1 class="top-[0.2rem]   text-cyan-700 absolute dark:text-cyan-400  text-2xl font-bold">Hey ! I'm </h1>		
		<span class="mt-10 top-[0.1rem]   text-cyan-100 absolute  font-bold text-8xl stroke-gray-900">Moncef</span>
		<span class="mt-10 top-[0.15rem]  text-cyan-600 absolute  font-bold text-8xl stroke-gray-900">Moncef</span>
		<span class="mt-10 top-[0.2rem]   text-cyan-700 absolute dark:text-cyan-400  font-bold text-8xl stroke-gray-900">Moncef</span>

    </header>

    <div class="relative w-full flex justify-center items-center p-10">
    <h3 class="top-[0.1rem]   text-cyan-100 absolute  font-bold text-4xl text-center">Full-Stack Developer 🔥</h3>
    <h3 class="top-[0.15rem]  text-cyan-600 absolute  font-bold text-4xl text-center">Full-Stack Developer 🔥</h3>
    <h3 class="top-[0.2rem]   text-cyan-700 absolute  font-bold text-4xl text-center dark:text-cyan-400">Full-Stack Developer 🔥</h3>


    </div>
    <div class="relative w-full flex justify-center items-center p-10">
    <h3 class="top-[0.1rem]   text-cyan-100 absolute  font-bold text-4xl text-center">Bringing digital visions to life 💥</h3>
    <h3 class="top-[0.15rem]  text-cyan-600 absolute  font-bold text-4xl text-center">Bringing digital visions to life 💥</h3>
    <h3 class="top-[0.2rem]   text-cyan-700 absolute  font-bold text-4xl text-center dark:text-cyan-400">Bringing digital visions to life 💥</h3>
    </div>
    

</header>




