---
import Animation from "./Animation.astro";

---

<style>
    .random{
        animation: random 20s infinite ;
    }
    @keyframes random {
        0%{
            filter: grayscale(0.1);
        }
           20%{
            filter: grayscale(0.5);
        }
        30%{
            filter: grayscale(1);
        }
        40%{
            filter: grayscale(0.2);
        }
        50%{
            filter: grayscale(0.6);
        }
        60%{
            filter: grayscale(1);
        }
        70%{
            filter: grayscale(0.3);
        }80%{
            filter: grayscale(0.5);
        }
        90%{
            filter: grayscale(1);
        }
        100%{
            filter: grayscale(0.1);
        }
    }
</style>


<div class="w-full flex flex-col justify-center items-center flex-wrap  gap-10 my-10">
    <h1 class="text-center text-4xl  ">My projects 🚀 are an adventure waiting to happen 🎢, buckle up and enjoy the ride 🤠</h1>
<div class="w-full gap-5 grid grid-cols-1  md:grid-cols-2 ">


    <article class="bg-pr1/30 group p-5 select-none  flex flex-col justify-center items-center text-sm   rounded-lg    backdrop-blur-md shadow-lg shadow-pr1/10 ">
     		<Animation/>

        <section class="bg-white/80 dark:bg-pr5/80  p-5 gap-5 w-full rounded-lg  shadow-lg shadow-pr2/20  row-span-1 flex flex-col justify-between">
            <section class="  aspect-video rounded-lg w-full   row-span-1">
                    <img class="shadow-lg   h-full w-full rounded-lg  hover:-translate-y-[0.1rem] grayscale-[0.5] hover:animate-none hover:brightness-110 active:brightness-125 random hover:grayscale-0 scr duration-75  hover:shadow-lg dark:hover:shadow-pr5 cursor-pointer transition-all ease-in hover:shadow-pr2" src={"/pr1.webp"} alt="progect image 1 ">
                    </section>
    <main>
    <h1 class="font-bold ">A site Name</h1>
    <h3>the site description ...</h3>
</main>
<section class="grid grid-cols-2">
    <div class="flex flex-wrap gap-1 md:text-xs">
        <h3 class="border border-pr2/50 px-1 rounded-full hover:bg-pr2/10 hover:border-pr2 flex justify-center items-center h-5">Next js</h3>
        <h3 class="border border-pr2/50 px-1 rounded-full hover:bg-pr2/10 hover:border-pr2 flex justify-center items-center h-5">TailwindCss</h3>
        <h3 class="border border-pr2/50 px-1 rounded-full hover:bg-pr2/10 hover:border-pr2 flex justify-center items-center h-5">firebase</h3>
        <h3 class="border border-pr2/50 px-1 rounded-full hover:bg-pr2/10 hover:border-pr2 flex justify-center items-center h-5">restApi</h3>   </div>
    <div class="hover:underline self-end justify-self-end   text-lg  hover:text-pr2 active:text-pr1 dark:active:text-pr1 duration-100 transition-all dark:hover:text-pr2 dark:text-pr text-pr5 cursor-pointer">visit now</div>
</section>
</section>   
</article>

    <article class="bg-pr1/30 group p-5 select-none  flex flex-col justify-center items-center text-sm   rounded-lg    backdrop-blur-md shadow-lg shadow-pr1/10 ">
     		<Animation/>

        <section class="bg-white/80 dark:bg-pr5/80  p-5 gap-5 w-full rounded-lg  shadow-lg shadow-pr2/20  row-span-1 flex flex-col justify-between">
            <section class="  aspect-video rounded-lg w-full   row-span-1">
                    <img class="shadow-lg   h-full w-full rounded-lg  hover:-translate-y-[0.1rem] grayscale-[0.5] hover:animate-none hover:brightness-110 active:brightness-125 random hover:grayscale-0 scr duration-75  hover:shadow-lg dark:hover:shadow-pr5 cursor-pointer transition-all ease-in hover:shadow-pr2" src={"/pr1.webp"} alt="progect image 1 ">
                    </section>
    <main>
    <h1 class="font-bold ">A site Name</h1>
    <h3>the site description ...</h3>
</main>
<section class="grid grid-cols-2">
    <div class="flex flex-wrap gap-1 md:text-xs">
        <h3 class="border border-pr2/50 px-1 rounded-full hover:bg-pr2/10 hover:border-pr2 flex justify-center items-center h-5">Next js</h3>
        <h3 class="border border-pr2/50 px-1 rounded-full hover:bg-pr2/10 hover:border-pr2 flex justify-center items-center h-5">TailwindCss</h3>
        <h3 class="border border-pr2/50 px-1 rounded-full hover:bg-pr2/10 hover:border-pr2 flex justify-center items-center h-5">firebase</h3>
        <h3 class="border border-pr2/50 px-1 rounded-full hover:bg-pr2/10 hover:border-pr2 flex justify-center items-center h-5">restApi</h3>   </div>
    <div class="hover:underline self-end justify-self-end   text-lg  hover:text-pr2 active:text-pr1 dark:active:text-pr1 duration-100 transition-all dark:hover:text-pr2 dark:text-pr text-pr5 cursor-pointer">visit now</div>
</section>
</section>   
</article>

    <article class="bg-pr1/30 group p-5 select-none  flex flex-col justify-center items-center text-sm   rounded-lg    backdrop-blur-md shadow-lg shadow-pr1/10 ">
     		<Animation/>

        <section class="bg-white/80 dark:bg-pr5/80  p-5 gap-5 w-full rounded-lg  shadow-lg shadow-pr2/20  row-span-1 flex flex-col justify-between">
            <section class="  aspect-video rounded-lg w-full   row-span-1">
                    <img class="shadow-lg   h-full w-full rounded-lg  hover:-translate-y-[0.1rem] grayscale-[0.5] hover:animate-none hover:brightness-110 active:brightness-125 random hover:grayscale-0 scr duration-75  hover:shadow-lg dark:hover:shadow-pr5 cursor-pointer transition-all ease-in hover:shadow-pr2" src={"/pr1.webp"} alt="progect image 1 ">
                    </section>
    <main>
    <h1 class="font-bold ">A site Name</h1>
    <h3>the site description ...</h3>
</main>
<section class="grid grid-cols-2">
    <div class="flex flex-wrap gap-1 md:text-xs">
        <h3 class="border border-pr2/50 px-1 rounded-full hover:bg-pr2/10 hover:border-pr2 flex justify-center items-center h-5">Next js</h3>
        <h3 class="border border-pr2/50 px-1 rounded-full hover:bg-pr2/10 hover:border-pr2 flex justify-center items-center h-5">TailwindCss</h3>
        <h3 class="border border-pr2/50 px-1 rounded-full hover:bg-pr2/10 hover:border-pr2 flex justify-center items-center h-5">firebase</h3>
        <h3 class="border border-pr2/50 px-1 rounded-full hover:bg-pr2/10 hover:border-pr2 flex justify-center items-center h-5">restApi</h3>   </div>
    <div class="hover:underline self-end justify-self-end   text-lg  hover:text-pr2 active:text-pr1 dark:active:text-pr1 duration-100 transition-all dark:hover:text-pr2 dark:text-pr text-pr5 cursor-pointer">visit now</div>
</section>
</section>   
</article>


    <article class="bg-pr1/30 group p-5 select-none  flex flex-col justify-center items-center text-sm   rounded-lg    backdrop-blur-md shadow-lg shadow-pr1/10 ">
     		<Animation/>

        <section class="bg-white/80 dark:bg-pr5/80  p-5 gap-5 w-full rounded-lg  shadow-lg shadow-pr2/20  row-span-1 flex flex-col justify-between">
            <section class="  aspect-video rounded-lg w-full   row-span-1">
                    <img class="shadow-lg   h-full w-full rounded-lg  hover:-translate-y-[0.1rem] grayscale-[0.5] hover:animate-none hover:brightness-110 active:brightness-125 random hover:grayscale-0 scr duration-75  hover:shadow-lg dark:hover:shadow-pr5 cursor-pointer transition-all ease-in hover:shadow-pr2" src={"/pr1.webp"} alt="progect image 1 ">
                    </section>
    <main>
    <h1 class="font-bold ">A site Name</h1>
    <h3>the site description ...</h3>
</main>
<section class="grid grid-cols-2">
    <div class="flex flex-wrap gap-1 md:text-xs">
        <h3 class="border border-pr2/50 px-1 rounded-full hover:bg-pr2/10 hover:border-pr2 flex justify-center items-center h-5">Next js</h3>
        <h3 class="border border-pr2/50 px-1 rounded-full hover:bg-pr2/10 hover:border-pr2 flex justify-center items-center h-5">TailwindCss</h3>
        <h3 class="border border-pr2/50 px-1 rounded-full hover:bg-pr2/10 hover:border-pr2 flex justify-center items-center h-5">firebase</h3>
        <h3 class="border border-pr2/50 px-1 rounded-full hover:bg-pr2/10 hover:border-pr2 flex justify-center items-center h-5">restApi</h3>   </div>
    <div class="hover:underline self-end justify-self-end   text-lg  hover:text-pr2 active:text-pr1 dark:active:text-pr1 duration-100 transition-all dark:hover:text-pr2 dark:text-pr text-pr5 cursor-pointer">visit now</div>
</section>
</section>   
</article>





</div>
</div>

