---

---




<div class="w-full flex flex-col justify-center items-center flex-wrap  gap-10 my-10">
    <h1 class="text-center text-4xl  ">My projects 🚀 are an adventure waiting to happen 🎢, buckle up and enjoy the ride 🤠</h1>
<div class="w-full gap-5 grid grid-cols-1  md:grid-cols-2 ">


    <article class="bg-pr3/30 dark:bg-pr1/30 group p-5 select-none  flex flex-col justify-center items-center text-sm   rounded-lg    backdrop-blur-md shadow-lg shadow-pr1/10 ">
        <section class="bg-pr3/30 dark:bg-pr1/30 p-5 gap-5 w-full rounded-lg  shadow-lg shadow-pr2/20  row-span-1 flex flex-col justify-between">
            <section class="  aspect-video rounded-lg w-full  overflow-hidden row-span-1">
                    <img class="shadow-lg border border-pr/20 shadow-pr2/20 h-full w-full rounded-lg  hover:-translate-y-1 duration-300 hover:shadow-lg hover:shadow-pr2 cursor-pointer transition-all" src={"/pr1.webp"} alt="progect image 1 ">
                    </section>
    <main>
    <h1 class="font-bold ">A site Name</h1>
    <h3>the site description ...</h3>
</main>
<section class="grid grid-cols-2">
    <div class="flex flex-wrap gap-1 md:text-xs">
        <h3 class="border px-1 rounded-full hover:bg-pr4/10 hover:border-pr3 flex justify-center items-center h-5">Next js</h3>
        <h3 class="border px-1 rounded-full hover:bg-pr4/10 hover:border-pr3 flex justify-center items-center h-5">TailwindCss</h3>
        <h3 class="border px-1 rounded-full hover:bg-pr4/10 hover:border-pr3 flex justify-center items-center h-5">firebase</h3>
        <h3 class="border px-1 rounded-full hover:bg-pr4/10 hover:border-pr3 flex justify-center items-center h-5">restApi</h3>   </div>
    <div class="underline self-end justify-self-end  text-pr text-lg hover:text-pr1 dark:hover:text-pr dark:text-pr5 cursor-pointer">visit now</div>
</section>
</section>   
</article>



    <article class="bg-pr3/30 dark:bg-pr1/30 group p-5 select-none  flex flex-col justify-center items-center text-sm   rounded-lg    backdrop-blur-md shadow-lg shadow-pr1/10 ">
        <section class="bg-pr3/30 dark:bg-pr1/30 p-5 gap-5 w-full rounded-lg  shadow-lg shadow-pr2/20  row-span-1 flex flex-col justify-between">
            <section class="  aspect-video rounded-lg w-full  overflow-hidden row-span-1">
                    <img class="shadow-lg border border-pr/20 shadow-pr2/20 h-full w-full rounded-lg  hover:-translate-y-1 duration-300 hover:shadow-lg hover:shadow-pr2 cursor-pointer transition-all" src={"/pr1.webp"} alt="progect image 1 ">
                    </section>
    <main>
    <h1 class="font-bold ">A site Name</h1>
    <h3>the site description ...</h3>
</main>
<section class="grid grid-cols-2">
    <div class="flex flex-wrap gap-1 md:text-xs">
        <h3 class="border px-1 rounded-full hover:bg-pr4/10 hover:border-pr3 flex justify-center items-center h-5">Next js</h3>
        <h3 class="border px-1 rounded-full hover:bg-pr4/10 hover:border-pr3 flex justify-center items-center h-5">TailwindCss</h3>
        <h3 class="border px-1 rounded-full hover:bg-pr4/10 hover:border-pr3 flex justify-center items-center h-5">firebase</h3>
        <h3 class="border px-1 rounded-full hover:bg-pr4/10 hover:border-pr3 flex justify-center items-center h-5">restApi</h3>   </div>
    <div class="underline self-end justify-self-end  text-pr text-lg hover:text-pr1 dark:hover:text-pr dark:text-pr5 cursor-pointer">visit now</div>
</section>
</section>   
</article>


    <article class="bg-pr3/30 dark:bg-pr1/30 group p-5 select-none  flex flex-col justify-center items-center text-sm   rounded-lg    backdrop-blur-md shadow-lg shadow-pr1/10 ">
        <section class="bg-pr3/30 dark:bg-pr1/30 p-5 gap-5 w-full rounded-lg  shadow-lg shadow-pr2/20  row-span-1 flex flex-col justify-between">
            <section class="  aspect-video rounded-lg w-full  overflow-hidden row-span-1">
                    <img class="shadow-lg border border-pr/20 shadow-pr2/20 h-full w-full rounded-lg  hover:-translate-y-1 duration-300 hover:shadow-lg hover:shadow-pr2 cursor-pointer transition-all" src={"/pr1.webp"} alt="progect image 1 ">
                    </section>
    <main>
    <h1 class="font-bold ">A site Name</h1>
    <h3>the site description ...</h3>
</main>
<section class="grid grid-cols-2">
    <div class="flex flex-wrap gap-1 md:text-xs">
        <h3 class="border px-1 rounded-full hover:bg-pr4/10 hover:border-pr3 flex justify-center items-center h-5">Next js</h3>
        <h3 class="border px-1 rounded-full hover:bg-pr4/10 hover:border-pr3 flex justify-center items-center h-5">TailwindCss</h3>
        <h3 class="border px-1 rounded-full hover:bg-pr4/10 hover:border-pr3 flex justify-center items-center h-5">firebase</h3>
        <h3 class="border px-1 rounded-full hover:bg-pr4/10 hover:border-pr3 flex justify-center items-center h-5">restApi</h3>   </div>
    <div class="underline self-end justify-self-end  text-pr text-lg hover:text-pr1 dark:hover:text-pr dark:text-pr5 cursor-pointer">visit now</div>
</section>
</section>   
</article>


    <article class="bg-pr3/30 dark:bg-pr1/30 group p-5 select-none  flex flex-col justify-center items-center text-sm   rounded-lg    backdrop-blur-md shadow-lg shadow-pr1/10 ">
        <section class="bg-pr3/30 dark:bg-pr1/30 p-5 gap-5 w-full rounded-lg  shadow-lg shadow-pr2/20  row-span-1 flex flex-col justify-between">
            <section class="  aspect-video rounded-lg w-full  overflow-hidden row-span-1">
                    <img class="shadow-lg border border-pr/20 shadow-pr2/20 h-full w-full rounded-lg  hover:-translate-y-1 duration-300 hover:shadow-lg hover:shadow-pr2 cursor-pointer transition-all" src={"/pr1.webp"} alt="progect image 1 ">
                    </section>
    <main>
    <h1 class="font-bold ">A site Name</h1>
    <h3>the site description ...</h3>
</main>
<section class="grid grid-cols-2">
    <div class="flex flex-wrap gap-1 md:text-xs">
        <h3 class="border px-1 rounded-full hover:bg-pr4/10 hover:border-pr3 flex justify-center items-center h-5">Next js</h3>
        <h3 class="border px-1 rounded-full hover:bg-pr4/10 hover:border-pr3 flex justify-center items-center h-5">TailwindCss</h3>
        <h3 class="border px-1 rounded-full hover:bg-pr4/10 hover:border-pr3 flex justify-center items-center h-5">firebase</h3>
        <h3 class="border px-1 rounded-full hover:bg-pr4/10 hover:border-pr3 flex justify-center items-center h-5">restApi</h3>   </div>
    <div class="underline self-end justify-self-end  text-pr text-lg hover:text-pr1 dark:hover:text-pr dark:text-pr5 cursor-pointer">visit now</div>
</section>
</section>   
</article>









</div>
</div>