---

---




<div class="w-full flex flex-col justify-center items-center flex-wrap  gap-10 my-10">
    <h1 class="text-center text-4xl  text-cyan-900 dark:text-cyan-50">My projects 🚀 are an adventure waiting to happen 🎢, buckle up and enjoy the ride 🤠</h1>
<div class="w-full gap-5 grid grid-cols-1  md:grid-cols-2 ">


    <article class="group p-5 select-none aspect-[10/9] grid grid-rows-5 text-sm  bg-cyan-800/30 dark:bg-slate-900/20 rounded-lg    backdrop-blur-md shadow-lg ">
<section class=" rounded-lg w-full rounded-b-none overflow-hidden row-span-3">
        <img class="h-full w-full group-hover:scale-105 group-hover:rotate-1 duration-100 " src={"/pr1.webp"} alt="progect image 1 ">
        </section>
<section class="bg-black/40 p-5 md:p-2 w-full rounded-b-lg text-cyan-100 row-span-2 flex flex-col justify-between">
    <main>
    <h1 class="font-bold ">A site Name</h1>
    <h3>the site description ...</h3>
</main>
<section class="flex justify-between items-center">
    <div class="flex flex-wrap gap-1 md:text-xs">
        <h3 class="border px-1 rounded-full hover:bg-cyan-500/10 hover:border-cyan-500">Next js</h3>
        <h3 class="border px-1 rounded-full hover:bg-cyan-500/10 hover:border-cyan-500">TailwindCss</h3>
        <h3 class="border px-1 rounded-full hover:bg-cyan-500/10 hover:border-cyan-500">firebase</h3>
        <h3 class="border px-1 rounded-full hover:bg-cyan-500/10 hover:border-cyan-500">restApi</h3>   </div>
    <div class="underline text-cyan-300 text-lg hover:text-cyan-50 cursor-pointer">visit now</div>
</section>
</section>   
</article>





    <article class="group p-5 select-none aspect-[10/9] grid grid-rows-5 text-sm  bg-cyan-800/30 dark:bg-slate-900/20 rounded-lg    backdrop-blur-md shadow-lg ">
<section class=" rounded-lg w-full rounded-b-none overflow-hidden row-span-3">
        <img class="h-full w-full group-hover:scale-105 group-hover:rotate-1 duration-100 " src={"/pr1.webp"} alt="progect image 1 ">
        </section>
<section class="bg-black/40 p-5 md:p-2 w-full rounded-b-lg text-cyan-100 row-span-2 flex flex-col justify-between">
    <main>
    <h1 class="font-bold ">A site Name</h1>
    <h3>the site description ...</h3>
</main>
<section class="flex justify-between items-center">
    <div class="flex flex-wrap gap-1 md:text-xs">
        <h3 class="border px-1 rounded-full hover:bg-cyan-500/10 hover:border-cyan-500">Next js</h3>
        <h3 class="border px-1 rounded-full hover:bg-cyan-500/10 hover:border-cyan-500">TailwindCss</h3>
        <h3 class="border px-1 rounded-full hover:bg-cyan-500/10 hover:border-cyan-500">firebase</h3>
        <h3 class="border px-1 rounded-full hover:bg-cyan-500/10 hover:border-cyan-500">restApi</h3> </div>
    <div class="underline text-cyan-300 text-lg hover:text-cyan-50 cursor-pointer">visit now</div>
</section>
</section>   
</article>



    <article class="group p-5 select-none aspect-[10/9] grid grid-rows-5 text-sm  bg-cyan-800/30 dark:bg-slate-900/20 rounded-lg    backdrop-blur-md shadow-lg ">
<section class=" rounded-lg w-full rounded-b-none overflow-hidden row-span-3">
        <img class="h-full w-full group-hover:scale-105 group-hover:rotate-1 duration-100 " src={"/pr1.webp"} alt="progect image 1 ">
        </section>
<section class="bg-black/40 p-5 md:p-2 w-full rounded-b-lg text-cyan-100 row-span-2 flex flex-col justify-between">
    <main>
    <h1 class="font-bold ">A site Name</h1>
    <h3>the site description ...</h3>
</main>
<section class="flex justify-between items-center">
    <div class="flex flex-wrap gap-1 md:text-xs">
        <h3 class="border px-1 rounded-full hover:bg-cyan-500/10 hover:border-cyan-500">Next js</h3>
        <h3 class="border px-1 rounded-full hover:bg-cyan-500/10 hover:border-cyan-500">TailwindCss</h3>
        <h3 class="border px-1 rounded-full hover:bg-cyan-500/10 hover:border-cyan-500">firebase</h3>
        <h3 class="border px-1 rounded-full hover:bg-cyan-500/10 hover:border-cyan-500">restApi</h3>  </div>
    <div class="underline text-cyan-300 text-lg hover:text-cyan-50 cursor-pointer">visit now</div>
</section>
</section>   
</article>



    <article class="group p-5 select-none aspect-[10/9] grid grid-rows-5 text-sm  bg-cyan-800/30 dark:bg-slate-900/20 rounded-lg    backdrop-blur-md shadow-lg ">
<section class=" rounded-lg w-full rounded-b-none overflow-hidden row-span-3">
        <img class="h-full w-full group-hover:scale-105 group-hover:rotate-1 duration-100 " src={"/pr1.webp"} alt="progect image 1 ">
        </section>
<section class="bg-black/40 p-5 md:p-2 w-full rounded-b-lg text-cyan-100 row-span-2 flex flex-col justify-between">
    <main>
    <h1 class="font-bold ">A site Name</h1>
    <h3>the site description ...</h3>
</main>
<section class="flex justify-between items-center">
    <div class="flex flex-wrap gap-1 md:text-xs">
        <h3 class="border px-1 rounded-full hover:bg-cyan-500/10 hover:border-cyan-500">Next js</h3>
        <h3 class="border px-1 rounded-full hover:bg-cyan-500/10 hover:border-cyan-500">TailwindCss</h3>
        <h3 class="border px-1 rounded-full hover:bg-cyan-500/10 hover:border-cyan-500">firebase</h3>
        <h3 class="border px-1 rounded-full hover:bg-cyan-500/10 hover:border-cyan-500">restApi</h3>
    </div>
    <div class="underline text-cyan-300 text-lg hover:text-cyan-50 cursor-pointer">visit now</div>
</section>
</section>   
</article>






</div>
</div>