---
import image1 from"../../public/pr1.jpg"
import image2 from"../../public/pr2.jpg"
import image3 from"../../public/pr3.jpg"
import image4 from"../../public/pr4.jpg"
---




<div class="w-full flex flex-col justify-center items-center flex-wrap  gap-10 my-10">
    <h1 class="text-center text-4xl  text-cyan-900 dark:text-cyan-50">My projects 🚀 are an adventure waiting to happen 🎢, buckle up and enjoy the ride 🤠</h1>
<div class="w-full gap-5 grid grid-cols-1  md:grid-cols-2 ">



    <div class=" select-none aspect-[10/9] flex justify-center  gap-5 flex-wrap  bg-cyan-800/30 dark:bg-slate-900/20 rounded-lg   backdrop-blur-md shadow-lg ">
<img class="aspect-video rounded-lg w-full" src={image1} alt="progect image 1 ">



    </div>

    <div class=" select-none aspect-[10/9] flex justify-center items-center gap-5 flex-wrap  bg-cyan-800/30 dark:bg-slate-900/20 rounded-lg  p-5 backdrop-blur-md shadow-lg ">
</div>

    <div class=" select-none aspect-[10/9] flex justify-center items-center gap-5 flex-wrap  bg-cyan-800/30 dark:bg-slate-900/20 rounded-lg  p-5 backdrop-blur-md shadow-lg ">
</div>

    <div class=" select-none aspect-[10/9] flex justify-center items-center gap-5 flex-wrap  bg-cyan-800/30 dark:bg-slate-900/20 rounded-lg  p-5 backdrop-blur-md shadow-lg ">
</div>





</div>
</div>